<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" internalLogToConsole="false" internalLogFile="/tmp/internal-nlog.txt">

  <extensions>
    <add assembly="Narato.Correlations.NlogExtensions"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="logs/nlog-all-${shortdate}.log"
        maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="${shortdate}" archiveFileName="logs/nlog-all-{#}.log"
        layout="${uppercase:${level}}: ${longdate} ${logger} | COR: ${correlation-id}${newline}    ${message}${exception:format=ToString,StackTrace}" />
    <target xsi:type="File" name="ownFile" fileName="logs/nlog-own-${shortdate}.log"
        maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="${shortdate}" archiveFileName="logs/nlog-own-{#}.log"
        layout="${uppercase:${level}}: ${longdate} ${logger} | COR: ${correlation-id}${newline}    ${message}${exception:format=ToString,StackTrace}" />
    <target xsi:type="File" name="errorsfile" fileName="logs/errors-${shortdate}.log"
        maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="${shortdate}" archiveFileName="logs/errors-{#}.log"
        layout="${uppercase:${level}}: ${longdate} ${logger} | COR: ${correlation-id}${newline}    ${message}${exception:format=ToString,StackTrace}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Discard EF Core SQL query logs-->
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Info" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorsfile" />
    <logger name="*" minlevel="Debug" writeTo="ownFile" />
  </rules>
</nlog>